* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

a {
    color: #7477bf;
}

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "navigation"
        "main"
        ;
}

  .header { 
    background: #7477bf;
    height: 5vh;
    display: flex;
    grid-area: header;
    padding: 1em;
    color: white;
    align-items: center;
}

.header h1 {
    margin-top: .5em;
    margin-right: auto;
    font-size: 1em;
    margin-bottom: 1rem;
}

.bell-icon {
    margin-right: -2em;
}

.bell:hover{
    cursor: pointer;
    animation: ring .5s ease-in-out .5s 3;
}

@keyframes ring {
    0%, 100% {
        transform: rotate(0deg);
    }
    20%, 60% {
        transform: rotate(20deg);
    }

    30%, 70% {
        transform: rotate(-20deg);
    }

    40%, 80% {
        transform: rotate(5deg);
    }
}

.bell {
    position: relative;
    padding-left: 1em;
    padding-right: 1em;
    height: 1.5em;
    margin: .5em 2.5em .5em 0.5em;
}

.green {
    border-radius: 50%;
    height: 5px;
    width: 5px;
    background-color:lightgreen;
    position: absolute;
    top: 11px;
    right: 156px;
}

.student-img {
    border-radius: 50%;
    height: 2em;
    display: inline-block;
    padding-left: 1em;
}

.student {
    align-items: center;
    margin: 0 1rem;
    justify-content: center;
    display: flex;
    border-left: lightgray solid 1px;
}

.student-name {
    font-size: 0.5em;
    margin-left: 1rem;
}

.navigation {
    grid-area: navigation;
    background: #4d4c72;
    height: 55px;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
}

.main {
    grid-area: main;
    display: grid;
}

svg {
    height: 2.5em;
    fill: white;
}

.navigation svg{
    height: 1.8rem;
    color: white;
}

.main-header {
    display: flex;
}

.main-header h2 {
    align-self: center;
    padding: 0 1.5rem;
    font-size: .8rem;
}

.tab {
    border: lightgray 1px solid;
    border-right: none;
    border-left: none;
    background-color: lightgray;
    height: 3vh;
    width: 60%;
}

.alert {
    background-color: #7477bf;
    border-radius: 4px;
    width: 90%;
    margin: 0 1em;
}

.alert-banner {
    display: flex;
    justify-content: space-between;
}

.traffic-header, 
.traffic,
.daily, 
.mobile,
.social-header,
.members h3 {
    text-transform: uppercase;
    font-size: .76rem;
}

.traffic,
.daily, 
.mobile,
.message {
    border: lightgray 1px solid;
}

.active {
    background-color: lightgreen;
    border: 1px lightgreen solid;
    border-radius: 10px;
    width: 20%;
    padding: .2rem .2rem;
    color:white
}

.traffic-nav-link {
    border-radius: 10px;
    padding: .2rem .2rem;
}

.traffic-header ul {
    display: flex;
    align-content: center;
    list-style: none;
}

.social {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.fb-container,
.ig-container,
.tw-container {
    display: flex;
    background-color: #f5f5f5;
    border-radius: 10px;
    width: 85vw;
    margin: .5em .5em;
    padding: 1em 1em;
}

.fb-image,
.ig-image,
.tw-image {
    fill: white;
    background-color: #7477bf;
    border-radius: 50%;
    padding: .5rem;
    height: 3em;
    width: 3em;
}

.fb-icon,
.ig-icon,
.tw-icon {
    align-items: center;
    height: 2em;
}

.fb-text,
.ig-text,
.tw-text {
    margin-left: 1em;
}

.social div p:first-child {
    color:#7477bf
}

.members-container,
.activity-container {
    display: flex;
    border: lightgray 1px solid;
    border-bottom: none;
    align-content: center;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    padding: 2em 0em;
}

.members-container:nth-child(4) {
    border-bottom: none;
}

.members-container img,
.activity-container img {
    border-radius: 50%;
    height: 8vh;
}

.more-icon {
    display: none;
}

.members-text,
.activity-text {
    text-align: center;
}

.message {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.traffic h3, 
.daily h3, 
.mobile h3, 
.social h3, 
.members h3, 
.message h3 {
    padding-left: 1em;
}

.message input,
.message textarea,
.message button {
    font-size: 1em;
    width: 17em;
    margin: 0.3rem 1.2rem;
    border-radius: 4px;
}

.message input,
.message textarea {
    background-color: #f5f5f5;
    color: gray;
}

.message input {
    height: 3em;
}

.message textarea {
    height: 10em;
}

.message button {
    background-color: #7477bf;
    color: white;
}

.settings {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 1em;
}

.settings select {
    background-color: #f5f5f5;
    border-radius: 4px;
    margin: 1em;
}

.settings label {
    display: inline-flex;
    justify-content: space-between;
    width: 80%;
    margin: 1em 1em;
}

.settings-button {
    display: flex;
    justify-content: space-evenly;
}

/* .settings label > strong {
    padding-right: 18em;
} */

.switch-ios.switch-light > span {
    width: 30%;
}

#save {
    background-color: #7477bf;
    color: white;
    border-radius: 4px;
    width: 45%;
}

#cancel {
    background-color: #f5f5f5;
    border-radius: 4px;
    width: 45%;
}

.widget-container {
    width: 90%;
}

.widget-container-full, .widget-container-half {
    display: flex;
    width: 95vw;
}

@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 55px 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas: 
            "header header"
            "navigation main";
    }

    .header {
        /* max-width: 768; */
    }

    .main, .traffic, .members, .activity {
        /* max-width: 713px; */
    }

    .main {
        grid-template-columns: 50%;
        grid-template-areas: 
        "main-header main-header"
        "alert alert"
        "main main";
    }

    .main-header {
        display: grid;
        grid-area: main-header;
        grid-template-areas:
        "headline tab"
    }

    .headline {
        grid-area: headline;
    }

    .green {
        right: 179px;
    }

    .navigation {
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
    }

    .navigation a {
        padding-top: 1em;
    }

    .tab {
        width: 78vw;
        grid-area: tab;
    }

    .alert {
        width: 88vw;
        grid-column: 1 / span 2;
        grid-area: alert;
    }

.daily-mobile {
    /* width: 100%; */
    display: flex;
}

   .daily {
        grid-column: 1 / span 1;
    }

/* 
    .traffic {
        grid-area: traffic;
    } */
    
    .traffic, .social, .members, .activity, .message, .settings {
        grid-column: 1 / span 2;
    }

    .fb-container,
    .ig-container,
    .tw-container {
    display: flex;
    background-color: #f5f5f5;
    border-radius: 10px;
    width: 30%;
    margin: .5em .5em;
    padding: 1em 1em;
}

    .mobile {
        grid-column: 2 / span 1;
    }

    /* .members-activity {
        display: flex;
    } */

    .members-text {
        padding-right: 22em;
        text-align: left;
    }

    .activity-text {
        text-align: start;
        padding-right: 11em;
        padding-left: 1em;
        flex-grow: 1;
    }

    .more-icon {
        display: block;
    }

    .message h3{
        padding: 1em;
    }

    .message input, .message textarea, .message button {
        width: 100%;
    }

    .widget-container-full{
        width: 90vw;
    }

    .widget-container-half {
        width: 46.1vw;
    }

    .traffic-header ul {
        display: flex;
        list-style: none;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .social {
        display: flex;
        flex-direction: column;
        height: 8rem;
        align-content: stretch;
        justify-content: flex-end;
        flex-wrap: wrap;
    }

    .members-container {
    flex-direction: row;
    justify-content: space-between;
    padding: 1em 1em;
    }

    .activity-container {
        flex-direction: row;
        justify-content: space-between;
        padding: 1em 1em;
        }

    .settings h3 {
        padding-right: 0em;
    }
}

@media (min-width: 1024px) {

    /* .header {
        max-width: 1024px;
    }  */

     .main, .traffic, .members, .activity {
        max-width: 969px;
    }

    .main {
        grid-template-columns: 50% 50%;
    }

    .main {
        grid-template-areas: 
        'main-header main-header'
        'alert alert'
        'traffic traffic'
        'daily mobile'
        'social social'
        'members activity'
        'message settings';
    }

    .traffic {
        grid-area: traffic;
        display: flex;
        flex-direction: column;
    }

    .daily {
        grid-area: daily;
        display: flex;
        flex-direction: column;
    }

    .mobile {
        grid-area: mobile;
        display: flex;
        flex-direction: column;
    }

    .social {
        grid-area: social;
        display: flex;
    }

    .members-container, .activity-container {
        padding: 1em 1em;
        border-bottom: 1px solid lightgray;
    }

    .members-container,
    .activity-container {
        height: 9em;
    }

    .members {
        grid-area: members;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .members-text {
        padding-right: 7em;
    }

    .activity {
        grid-area: activity;
        display: flex;
        flex-direction: column;
    }

    .activity-text {
        padding-right: 0;
    }

    .message {
        grid-area: message;
        display: flex;
    }

    .settings {
        grid-area: settings;
        display: flex;
        justify-content: space-around;
    }

    .green {
        right: 179px;
    }

    /* .fb-container,
    .ig-container,
    .tw-container {
    width: 100%;
} */

    .tab {
        width: 100%;
    }

    .alert {
        width: 90%;
    }

    .msg-sec {
        display: grid;
    }

    .members, .message {
        grid-column: 1;
    }

    .activity, .settings {
        grid-column: 2;
    }

    .members-container,
    .activity-container {
        width: 100%;
    }

    .message input, .message textarea, .message button {
        width: 93%;
        margin: .5em 1em;
    }

    .widget-container-half {
        width: 47vw;
    }
}